body, h1, .center-title {
  margin: 0;
}
h1, .center-title {
  line-height: 38px;
}
.center h2 {
  margin-bottom: 0px;
  padding-top: 14px;
}

body div#center h3 {
  margin-bottom: 0px;
  padding-top: 14px;
}

body div#center h4 {
  margin-bottom: 0px;
  padding-top: 14px;
}
.accordion h4 {
  margin: 10px 0;
}
.accordion label {
  display:     block;
  margin-left: 24px;
}
.accordion p {
  margin: 4px 0;
}
.accordion [type="checkbox"] {
  float: left;
}
.avatar {
  display:     block;
  float:       left;
  height:      28px;
  line-height: 28px;
  margin:      0 9px;
  width:       28px;
}
.highlight {
  overflow-x: scroll;
}
img.thumbnail {
  padding: 0;
}
#wrap {
  margin:      auto;
  padding-top: 10px;
  width:       960px;
}
#headbar{
  height:      48px;
  line-height: 48px;
  margin:      0 10px;
  position:    relative;
  z-index:     4;
  }
  #headbar .back, #headbar .brand{
    display: inline-block;
    height:  inherit;
  }
  #headbar .back{
    margin-right:   -10px;
    padding:        0 14px 0 8px;
    position:       relative;
    vertical-align: bottom;
    z-index:        5;
    }
    #headbar .back img {
      margin-top:     8px;
      vertical-align: baseline;
  }
  #headbar .brand {
    padding-left: 10px;
    position:     relative;
    z-index:      6;
  }
  #headbar .portal {
    margin: 9px 12px 0 0;
    }
    #headbar .portal > li {
      float:       left;
      margin-left: 10px;
}
#sidebar {
  float:      left;
  margin:     0;
  padding:    60px 0 0;
  position:   relative;
  margin-top: -60px;
  width:      180px;
  z-index:    2;
  }
  #sidebar a {
    display: block;
  }
  #sidebar .menu-tag,
  #sidebar .home-link {
    margin-top: 0;
    padding: 12px;
  }
  #sidebar .menu-tag .pointer {
    float:      right;
    margin-top: 5px;
  }
  #sidebar .menu-posts {
    padding: 0 10px;
    }
    #sidebar .menu-posts a {
      padding: 5px 10px;
}
#center {
  padding:  60px 20px 40px;
  position: relative;
  margin:   -60px 0 0 180px;
  z-index:  1;
  }
  #center:after {
    clear:   left;
    content: "";
    display: block;
  }
  .center img {
    display:   block;
    margin:    10px 0;
    max-width: 100%;
}
#pages {
  margin: auto;
  width:  960px;
  }
  #pages menu {
    padding:    0;
    text-align: right;
    }
    #pages menu a {
      display: inline-block;
      padding: 10px;
}
menu #inner a{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	text-transform: capitalize;
}
menu #inner{
	margin-top: 0px;
	margin-bottom: 0px;
}

/* class-based css from now on */
.cc-tutorials {
  padding-top: 20px;
}
.cc-well__btn {
  display: block;
  margin:  5px;
}
.cc-well__img,
.center .cc-well__img {
  border: none;
  margin: 0;
}
.cc-topic {
  display:     block;
  line-height: 40px;
  height:      40px;
  padding:     0 5px;
  white-space: nowrap;
  }
  .cc-topic__right {
    float: right;
  }
  .cc-topic__left {
    float: left;
}
