body{
  background: #f1f1f1;
  color:      #3f3f3f;
  font:       14px/18px Arial,Verdana,sans-serif;
}
h1 {
  border-bottom: 1px solid #d0d0d0;
  font-size:     18px;
}
.date {
  color:      #bbb;
  font-style: italic;
}
.highlight {
  /*
	background: #eee;
  border:     20px solid #eee;
	*/
}
#wrap {
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}
#headbar{
  background:       #782a29;
  background-image: -webkit-linear-gradient(top, #782a29, #501b1f 100%);
  background-image:    -moz-linear-gradient(top, #782a29, #501b1f 100%);
  background-image:         linear-gradient(top, #782a29, #501b1f 100%);
  border:           1px solid #3c1414;
  border-radius:    6px;
  box-shadow:       0 1px 0 #a73131 inset;
  color:            #fff;
  }
  #headbar * {
    cursor: default;
  }
  #headbar a {
    color:           #fff;
    text-decoration: none;
    cursor:          pointer;
    }
    #headbar .dropdown a{
      background:  #551d20;
      border:      1px solid #3e1515;
      text-shadow: 0 1px 0 #2f1111;
      }
      #headbar .dropdown a:hover {
        background-image: -webkit-linear-gradient(top, #6b2525, #4f1b1e 100%);
        background-image:    -moz-linear-gradient(top, #6b2525, #4f1b1e 100%);
        background-image:         linear-gradient(top, #6b2525, #4f1b1e 100%);
      }
      #headbar .dropdown a + a{
        border-top: 1px solid #672a24;
      }
      #headbar .dropdown .add{
        background:    #3c1414;
        border-radius: 0 0 6px 6px;
        border-top:    none;
        box-shadow:    0 0 1px 1px #2b0c0a inset;
        margin-top:    -1px;
  }
  #headbar .back{
    background:    #551d20;
    border-radius: 6px 0 0 6px;
    box-shadow:    -15px 0 8px -8px #3c1414 inset,
                   0 1px 0 #812730 inset;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    }
    #headbar .back:hover {
      background: none;
      box-shadow: none;
  }
  #headbar .brand{
    background-image: -webkit-linear-gradient(top, #782a29, #501b1f 100%);
    background-image:    -moz-linear-gradient(top, #782a29, #501b1f 100%);
    background-image:         linear-gradient(top, #782a29, #501b1f 100%);
    border:           1px solid #3c1414;
    border-radius:    6px 0 0 6px;
    border-right:     none;
    box-shadow:       0 1px 0 #a73131 inset;
    font-weight:      bold;
    margin:           -1px 0;
}
#sidebar {
  background:     #f1f1f1;
  border-right:   1px solid #d0d0d0;
  font-size:      11px;
  }
  #sidebar a {
    color: #ababab;
    text-decoration: none;
  }
  #sidebar .menu-tag,
  #sidebar .menu-posts,
  #sidebar .home-link {
    border-bottom:   1px solid #d0d0d0;
    box-shadow:      0 1px 0 #fff;
    outline:         none;
    }
  #sidebar .menu-tag,
  #sidebar .home-link {
    text-transform:  uppercase;
    }
    #sidebar [aria-selected="true"],
    #sidebar .home-link.active {
      font-weight: bold;
    }
    #sidebar [aria-selected="true"],
    #sidebar [aria-expanded="true"] a,
    #sidebar .home-link.active {
      color: #3f3f3f;
  }
  #sidebar .menu-tag .pointer {
    border-top-color: #d0d0d0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    }
    #sidebar [aria-selected="true"] .pointer {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      border-top-color: #3f3f3f;
  }
  #sidebar .menu-posts li + li a {
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 #d8d8d8;
  }
	#sidebar .menu-posts li a:hover{
		color:#9F3A40;
	}
  #sidebar .menu-posts .active {
    font-weight: bold;
}


#center {
  background:  #fff;
  border-left: 1px solid #d0d0d0;
  }
  #center a {
    color: #a73131;
  }
  #center img {
    border: 3px solid #ccc;
    border-radius: 4px;
}
#pages menu a {
  border:          1px solid #d0d0d0;
  border-radius:   4px;
  box-shadow:      0 1px 0 #fff,
                   0 1px 0 #fff inset;
  color:           #3f3f3f;
  font-weight:     bold;
  text-decoration: none;
}

