/* coding rules:
 * tab width = 2
 * all spaces
 * 
 * naming convention:
 * cc_ prefix
 * __  component part
 * --  variant
 * example: cc_alert--info__close = style that is specific to the close button
 *                                  of the info alert box only.
 * more about this: engineering.appfolio.com/2012/11/16/css-architecture
 */

// colors

@black:      #000;
@white:      #fff;
@lightpink:  #DF9FA4;
@pink:       #CB646C;
@darkpink:   #501B1F;
@lightgrey:	 #F4F4F4;
@mediumgrey: #707070;
@darkgrey:   #323232;
@lightborder: #E7E7E7;

// fonts
@font-face {
  font-family: 'LatoRegular';
  src: url('../font/Lato-Reg-webfont.eot');
  src: url('../font/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Reg-webfont.woff') format('woff'),
    url('../font/Lato-Reg-webfont.ttf') format('truetype'),
    url('../font/Lato-Reg-webfont.svg#LatoRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'LatoBold';
  src: url('../font/Lato-Bol-webfont.eot');
  src: url('../font/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Lato-Bol-webfont.woff') format('woff'),
    url('../font/Lato-Bol-webfont.ttf') format('truetype'),
    url('../font/Lato-Bol-webfont.svg#LatoBold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@main-font:   "Helvetica", "DejaVu Sans", "Arial", sans-serif;
@header-font: "LatoRegular", sans-serif;


// font sizes

@text:      14px;
@text--M:   (@text * 1.2);
@text--L:   (@text * 1.5);
@text--XL:  (@text * 2.3);
@text--2XL: (@text * 3.4);

// mixins

.cc_rounded () {
  border-radius: 4px;
}
.header () {
  font-family: @header-font;
  color:       @black;
  line-height: 1;
}