<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Clever Cloud Documentation - $title$</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css" />
  </head>
  <body>
    <nav class="cc_headbar">
    <div class="container">
      <div class="row">
        <div class="span3 cc_headbar__logo">
          <a class="" href="/" title="Clever Cloud Documentation" alt="CC-Documentation"><span>CC</span>Documentation</a>
        </div>
        <div class="span4"><gcse:search></gcse:search></div>
        <div class="span5 cc_headbar__menu">
          <div class="pull-right">
            <a class="cc_headbar__btn" href="/support">cc network <i class="icon-caret-down"> </i></a>
            <a class="cc_headbar__btn cc_login__btn" href="/login">Connect</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="cc_main">
    <div class="container">
      <div class="row">
        <div class="span3 cc-sidebar">
          <a class="cc-sidebar__item"href="#">Clever Cloud Overview</a>
          <ul>
            <li class="cc-sidebar__item__list">
              <a href="#">Intro to Apps</a>
            </li>
            <li class="cc-sidebar__item__list">
              <a href="#">Intro to Apps</a>
            </li>
          </ul>
          <a class="cc-sidebar__item"href="#">Java</a>
          <ul>
            <li class="cc-sidebar__item__list">
              <a href="#">Intro to Apps</a>
            </li>
            <li class="cc-sidebar__item__list">
              <a href="#">Intro to Apps</a>
            </li>
          </ul>
          <a class="cc-sidebar__item"href="#">Python</a>
          <ul>
            <li class="cc-sidebar__item__list"><a href="#">Intro to Apps</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Intro to Apps</a></li>
          </ul>
          <a class="cc-sidebar__item"href="#">Admin Console</a>
          <ul>
            <li class="cc-sidebar__item__list"><a href="#">Roles and Organisation</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Billing</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Apps Management</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Intro to Apps</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Roles and Organisation</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Billing</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Apps Management</a></li>
            <li class="cc-sidebar__item__list"><a href="#">Intro to Apps</a></li>
          </ul>
        </div>
        <div class="span9">
          <div class="cc-content">
            <!-- Set the Title as a H2-->
            <h2>Run a Java Application</h2>
            <!-- Content is always in this div-->
            <div class="cc-content__text"> 
              Lorem ipsum doloLorem ipsum Et est voluptate sed nostrud quis laborum voluptate in proident veniam.
              <ol>
                <li>Lorem ipsum In exercitation irure anim aute aute dolor ex reprehenderit fugiat in id tempor non officia.</li>
                <li>Church-key fugiat exercitation you probably haven't heard of them odio. American apparel ut high life</li>
                <li>Do you see any Teletubbies in here? </li>
                <figure class="cc-content-imglarge">
                  <img src="screenshot.png"/>
                </figure>
                <li>Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? </li>
              </ol>
              <h3>Specific testing</h3>
              <p>Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.Church-key fugiat exercitation you probably haven't heard of them odio. American apparel ut high life.
              </p>
              <figure class="cc-content-img">
                  <a href="screenshot2.png" class="fancybox"><img src="screenshot2.png"/></a>
                  <figcaption>
                    A cheeky macaque, Lower Kintaganban River, Borneo. Original by <a href="http://www.flickr.com/photos/rclark/">Richard Clark</a>
                  </figcaption>
                </figure>
                <p>Squid YOLO banksy raw denim, hashtag letterpress ennui retro mlkshk. </p>
            </div>
            <div class="cc-contrib">We’ve opened up the documentation to contributions. <a href="https://github.com/CleverCloud/doc.clever-cloud.com" target="_blank">See our Github.</a></div>
          </div>
        </div>
      </div>
    </div>
    $title$
    $body$
  </div>
  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-ui-1.10.2.custom.min.js"></script>
  <script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack.js"></script>
    <script>
    $(function() {
      //var active_menu = $( "#sidebar .menu-posts:has(.active)" );
      $( "" ).accordion({
        header: ".cc-sidebar__item",
        collapsible: true,
        heightStyle: "content",
        animate: 200});
    });
    </script>
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox();
        });
    </script>
    <script>
      (function() {
        var cx = '012473291061139659466:1crqef6cvmc';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
</script>
      
  </body>
</html>
