<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <title>Clever Cloud Documentation - $title$</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/magnific-popup/magnific-popup.css" />
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
  </head>
  <body>
    <nav class="cc_headbar">
    <div class="container">
    <a href="/" title="Clever Cloud Documentation" alt="CC-Documentation" class="cc_headbar__logo">
      <span>CC</span>Documentation
    </a>
      <ul class="cc-nav pull-right cc_headbar__menu">
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Common</a></li>
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Java</a></li>
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">PHP</a></li>
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Scala</a></li>
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Node.js</a></li>
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Ruby</a></li>
        <li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Python</a></li>
        <li><a class="cc_login__btn" href="https://console.clever-cloud.com/">Connect</a></li>
      </ul>
    </div>
    <!---->
  </nav>
  <div class="cc_main">
    <div class="container">
      <div class="row">
        <div class="span3 cc-sidebar">
            $commons$
            $runtimes$
        </div>
        <div class="span9">
          <div class="cc-content">
            <!-- Content is always in this div-->
            <div class="cc-content__text"> 
              $body$
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/indexor.js"></script>
    <script>
      $(document).ready(function() {
        $('.cc-content-img').magnificPopup({
          delegate: 'a',
          type: 'image'
        });
      });
    </script>      
  </body>
</html>
