<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <title>$title$ - Clever Cloud Documentation</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/assets/magnific-popup/magnific-popup.css" />
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
  </head>
  <body>
    <nav class="cc_headbar">
      <div class="container">
        <div class="row-fluid">
          <div class="span3 cc_headbar__logo_parent">
            <a href="/" title="Clever Cloud Documentation" alt="CC-Documentation" class="cc_headbar__logo">
              <span>CC.</span>Documentation
            </a>
          </div>
          <div class="span9">

            <div class="searchbar">
              <form method="get" id="searchform" action="/search.html">
                <input type="text" placeholder="Search" class="field" name="q" id="q">
              </form>
            </div>
            <ul class="cc-nav pull-right cc_headbar__menu">
              <li><a class="cc_headbar__btn " href="/java">Java</a></li>
              <li><a class="cc_headbar__btn " href="/php">PHP</a></li>
              <li><a class="cc_headbar__btn " href="/scala">Scala</a></li>
              <li><a class="cc_headbar__btn " href="/nodejs">Node.js</a></li>
              <li><a class="cc_headbar__btn " href="/python">Python</a></li>
              <!--<li><a class="cc_headbar__btn " href="https://console.clever-cloud.com/">Python</a></li>-->
              <li><a class="cc_login__btn" href="https://console.clever-cloud.com/">Connect</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  <div class="cc_main">
    <div class="container">
      <div class="row">
        <div class="span3 cc-sidebar">
            $commons$
            $runtimes$
        </div>
        <div class="span9 cc-content-parent">
          <div class="cc-content">
            <!-- Content is always in this div-->
            <div class="cc-content__text"> 
              $body$
            </div>
          </div>
          <div class="cc-contrib">
            We’ve opened up the documentation to contributions.
            <a href="https://github.com/CleverCloud/doc.clever-cloud.com" target="_blank">See our Github.</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="cc-go-top"><i class="icon-level-up"></i></a>
  </div>
  <script type="text/javascript" src="/assets/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/EventEmiter.js"></script>
  <script type="text/javascript" src="/assets/js/underscore.js"></script>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
    <script>
      $(document).ready(function() {
        $('.cc-content-img').magnificPopup({
          delegate: 'a',
          type: 'image'
        });
      });
    </script> 
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19997759-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>     
  </body>
</html>
