<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>
      {{ site[page.id].title }} - Clever Cloud documentation
    </title>
    <link media="all" rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link href="/css/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">
    <link media="all" rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link media="all" rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"/>
    <link media="all" rel="stylesheet" type="text/css" href="/css/theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pygments.css"/>
    <script src="/js/jquery-1.8.2.js"></script>
    <script src="/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script>
    $(function() {
      var active_menu = $( "#sidebar .menu-posts:has(.active)" );
      $( "#sidebar" ).accordion({
        header: ".menu-tag",
        collapsible: true,
        active: (active_menu.length > 0 ? parseInt(active_menu.attr("data-index")) -1 : false),
        heightStyle: "content" });
    });
    </script>
  </head>
  <body>
    <div id="wrap">
      <nav id="headbar">
        <a href="/" class="back">
          <img src="/img/clever-cloud.png" alt="«"/>
        </a>
        <a href="/" class="brand">Clever Cloud documentation</a>
      </nav>
      <menu id="sidebar">
        {% include nav.html %}
      </menu>
      <div id="center">
        {{ content }}
        
      </div>
    </div>
	 
	 <script type="text/javascript">

	   var _gaq = _gaq || [];
	   _gaq.push(['_setAccount', 'UA-19997759-7']);
	   _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();

	 </script>
	 
  </body>
</html>
